.select {
    @include radius();
    width: 150px;
    border: 1px solid #e9e9e9;
    font-size: 14px;
    color: #3f3f3f;
    &_main {
        padding: 0 8px;
        border: none;
        height: 38px;
        line-height: 38px;
        &_text {
            padding-left: 8px;
        }
        &_btn {
            height: 38px;
            line-height: 38px;
        }
    }
    &_content {
        @include radius();
        box-shadow: 3px 3px #0b87d6;
        &_list {
            padding: 0 8px;
            line-height: 36px;
            text-align: left;
            &_value {
                @include inline-block();
                padding-left: 8px;
            }
        }
    }
}